<div class='purchase-item'>
  <div class='purchase-item__block'>
    <span class='title'>ID: {{id}}</span>
  </div>
  <div class='purchase-item__block'>
    <span class='title'>Товари</span>
    <span class='text'>{{title}}</span>
  </div>
  <div class='purchase-item__block'>
    <span class='title'>Сума замовлення</span>
    <span class='text'>{{totalPrice}} грн</span>
  </div>
  <div class='purchase-item__block'>
    <span class='title'>Нараховані бонуси</span>
    <span class='text'>{{bonusAmount}} грн</span>
  </div>
</div>