<main class='main'>
  <section>
    <div class='form'>
      <div class='form__content'>
        <h1 class='{{#if isError}} form__title--error {{else}}form__title{{/if}}'>{{data.title}}</h1>
        <p class='form__text'>{{data.info}}</p>
      </div>
          <a href='{{data.link}}'>
            {{> button text='Повернутися назад'}}
          </a>
    </div>
  </section>
</main>