@use '../../lib/service.scss' as s;

.product-list {
    display: flex;
    flex-direction: column;
    gap: s.space(8);
}
.title {
    font-size: s.size('textSubtitle');
    color: s.color('primary');
    font-weight: bold;
}


.product-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: s.space(3) s.space(8);
}
.product__card {
    display: flex;
    flex-direction: column;
    gap: s.space(4);
    justify-content: space-between;
    border: 1px solid s.color('light');
    border-radius: s.space(1);
    box-shadow: 4px 4px 8px #f0f0f0;
    padding: s.space(4);
    min-width: 250px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: s.space(4);
    }

    &__title {
        font-size: s.size('textSubtitle');
    }

    &__description {
        font-size: s.size('text');
    }

    &_id {
        font-size: s.size('textSmall');
        color: s.color('desription');
    }

    &__action {
        display: flex;
        justify-content: space-between;
    }

    &__price {
        font-weight: bold;
    }

    &__link {
        color: s.color('primary');
    }
}


.main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
}