@use '../../lib/service.scss' as s;

.form {
    display: flex;
    flex-direction: column;
    gap: s.space(8);
    padding: s.space(4);
    max-width: 600px;

    &__title {
        font-size: s.size('textTitle');
        font-weight: bold;
        padding-bottom: s.space(1);
        border-bottom: 1px solid s.color('light');
    }

    &__button {
        border: 1px solid s.color('light');
        padding: s.space(2) s.space(5);
        background-color: s.color('secondary');
        border-radius: 10px;
        width: max-content;
    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
}
