{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class='main'>
  <section>
    <div class='form'>
      <h1 class='form__title'>Створення товару</h1>
      <form method='POST' action='/alert'>
        <div class='form__content'>
          <h2 class='form__subtitle'>Інформація про товар</h2>
          <div class='form__row'>
            <div class='form__field'>
              <label for='text' class='form__label'>Назва
                товару</label>
              <input type='text' name="name" class='form__input' />
            </div>
            <div class='form__field'>
              <label
                for='text'
                class='form__label'
              >Ціна</label>
              <input type='text' name="price" class='form__input' />
            </div>
          </div>

          <div class='form__field'>
            <label for='text' class='form__label'>Короткий
              опис товару</label>
              <textarea
                type='text'
                name='description'
                class='form__input'
                rows='3'
              ></textarea>
            <small class='form__label--small'>Відображується
              у картці товару</small>
          </div>
          <button class='form__button'>Створити товар</button>
        </div>
      </form>
    </div>
  </section>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}