<div class='product__card'>
  <div class='product__card__content'>
    <h2 class='product__card__title'>{{title}}</h2>
    <p
      class='product__card__description'
    >{{description}}</p>

    <div class='product__card__price'>{{price}}$</div>
    <a
      href='/product-edit?id={{id}}'
      class='product__card__link'
    >Редагувати</a>
  </div>
</div>